.selected {

  .body-text {
    background-color: #00a1df;
    color: #ffffff;
  }

  .accent-color use {
     fill: #d2ff8d;
   }

}

.description-text {
  padding: 50px;
  color: #d2ff8d;
  background: #000;
}

.accent-color use {
  fill: #ffffff;
}
